.RadarCharts {
    width: 400px;
    height: 300px;
    color: white;
    background-color: #282D30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    text {
        color: white;
    }
}