.RadialChart {
    aspect-ratio: 1;
    position: relative;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;

    .score {
        position: absolute;
        left: 5%;
        top: 5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #20253A;
    }

    .objectif {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -30%);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #74798C;

        span {
            font-weight: 700;
            font-size: 26px;
            line-height: 26px;
            color: #282D30;
        }
    }
}