.LinearChart {
  height: 263px;
  background-color: #ff0000;
  border-radius: 5px;
}
.customTooltip {
  background-color: white;
  color: black;
  padding: 7px;
  font-weight: 500;
  font-size: 8px;
  line-height: 24px;
}