.App {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  > h1 {
    font-size: 4vh;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 3%;
    > span {
      color: #ff0101;
    }
  }
  > p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 3%;
  }
  >div{
    height: 100%;
    display: flex;
    gap: 4%;
  }
}

.Grid2 {
  height: 35%;
  display: flex;
  justify-content: space-between;
}
.chartsContainer {
  width: 74%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.keyDatasContainer {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}